* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common style  */
.width {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}

.secondary-color {
  color: rgba(137, 135, 161, 1);
}
.light-color {
  color: rgba(233, 90, 8, 1);
}
.btn {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 10px 0;
  background-color: rgba(233, 90, 8, 1);
}

/* custom style  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.menubar {
  display: flex;
  align-items: center;
}
.menubar li {
  list-style: none;
  margin-right: 0;
}
.menubar li a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
  color: black;
}
.menubar li:nth-child(1) a {
  font-weight: bold;
}
.menubar li:nth-child(2) a,
.menubar li:nth-child(3) a {
  color: rgba(137, 135, 161, 1);
}
.menubar li:nth-child(4) a {
  margin-right: 0;
}

/* banner style  */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 50px;
}

.left-slide h3 {
  font-size: 65px;
}
.left-slide p {
  font-size: 20px;
  max-width: 60%;
}

/* plant section  */
.plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 200px;
}
.left-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 60px;
  text-align: center;
}

.left-plant p {
  text-align: center;
  max-width: 70%;
  font-size: 20px;
}

/* right slide  */

.right-plant {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.right-plant-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 30px;
}

.plant-name {
  font-size: 20px;
  font-weight: bold;
}
.plant-price {
  font-size: 20px;
  font-weight: bold;
}

/* Plants Lover Section */
.plalnt-lover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.right-plant-lover-slide {
  max-width: 600px;
}
.plant-lover-title {
  font-size: 50px;
  margin: 20px 0;
  margin-left: -20px;
}

.plant-bullet-list {
  display: inline-block;
  font-size: 20px;
}

.plant-bullet-list li {
  margin: 20px 0;
}
.trusted-bacth {
  position: absolute;
  width: 286px;
  height: 286px;
  top: -136px;
  left: 363px;
}

/* Join Section  */
.join-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-join-slide h2 {
  text-align: center;
  font-size: 60px;
}

.left-join-slide p {
  width: 60%;
  margin: 10px auto 30px;
  font-size: 20px;
  text-align: center;
}

/* right join slide */
.both-slide-container{
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.right-join-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}


.container {
  position: relative;
  
}
.container img{
    display: block;
    border-radius: 30px;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: rgba(0, 0, 0, .5);
 border-radius: 30px;
 
}
.centered-text h4{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.centered-text a{
    width: 100%;
    display: flex;
    justify-content: center;
color: white;
font-size: 30px;
}

